MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
AUTH_SECRET=<random-32-char-string>
STRIPE_SECRET_KEY=<stripe-secret-key>
STRIPE_WEBHOOK_SECRET=<stripe-webhook-secret>
NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_PRICE_10=<stripe-price-id>
STRIPE_PRICE_25=<stripe-price-id>
STRIPE_PRICE_50=<stripe-price-id>
